<!DOCTYPE html>
<html>
<header>
    <title>New Shoes</title>
    <link rel="stylesheet" href="theme.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</header>

<body>
    <div class="navbar navbar-static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="../storefront"><span class="shop-name">Oahi</span> Shoes Collection</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="../storefront">Home</a></li>
                    <li class="active"><a href="../newrelease">New Release</a></li>
                    <li><a href="../bestseller">Best Seller</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.facebook.com/oahishoes" target="_blank">Social Media</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="media/No1.jpg">
                    <img class="img-responsive" src="media/No1.jpg" alt="Shoe 1" style="width:100%">
                    <div class="caption">
                        <p><b>Name: </b>Clog</p>
                        <p><b>Description: </b>Cream</p>
                        <p><b>Price: </b> 400.000 VNĐ</p>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="media/No2.jpg">
                    <img src="media/No2.jpg" alt="Shoe 2" style="width:100%">
                    <div class="caption">
                        <p><b>Name: </b>Clog</p>
                        <p><b>Description: </b> White</p>
                        <p><b>Price: </b> 399.000 VNĐ</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>

</body>

</html>
