<!DOCTYPE html>
<html>
<header>
  <title>Oahi Shop</title>
  <link rel="stylesheet" href="theme.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</header>

<body>
  <div class="navbar navbar-static-top navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="../storefront"><span class="shop-name">Oahi</span> Shoes Collection</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="../storefront">Home</a></li>
          <li><a href="../newrelease">New Release</a></li>
          <li><a href="../bestseller">Best Seller</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/oahishoes" target="_blank">Social Media</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br><br><br><br><br>
  <!-- Row 1 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No1.jpg">
          <img class="img-responsive" src="media/No1.jpg" alt="Shoe 1" style="width:100%">
          <div class="caption">
            <p><b>Name: </b>Clog</p>
            <p><b>Description: </b>Cream</p>
            <p><b>Price: </b> 400.000 VNĐ</p>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No2.jpg">
          <img src="media/No2.jpg" alt="Shoe 2" style="width:100%">
          <div class="caption">
            <p><b>Name: </b>Clog</p>
            <p><b>Description: </b> White</p>
            <p><b>Price: </b> 399.000 VNĐ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>


  <!-- Row 2 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No3.jpg">
          <img class="img-responsive" src="media/No3.jpg" alt="Shoe 3" style="width:100%">
          <div class="caption">
            <p><b>Name: </b>Clog</p>
            <p><b>Description: </b> White</p>
            <p><b>Price: </b> 389.000 VNĐ</p>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No4.jpg">
          <img src="media/No4.jpg" alt="Shoe 4" style="width:100%">
          <div class="caption">
            <p><b>Description: </b>Open toe</p>
            <p><b>Description: </b>White</p>
            <p><b>Price: </b> 499.000 VNĐ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>


  <!-- Row 3 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No5.jpg">
          <img class="img-responsive" src="media/No5.jpg" alt="Shoe 5" style="width:100%">
          <div class="caption">
            <p><b>Name: </b>Clog</p>
            <p><b>Description: </b>Black</p>
            <p><b>Price: </b> 399.000 VNĐ</p>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No6.jpg">
          <img src="media/No6.jpg" alt="Shoe 6" style="width:100%">
          <div class="caption">
            <p><b>Name: </b>Clog</p>
            <p><b>Description: </b> Black</p>
            <p><b>Price: </b> 389.000 VNĐ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>


  <!-- Row 4 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No7.jpg">
          <img class="img-responsive" src="media/No7.jpg" alt="Shoe 7" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Open toe</p>
            <p><b>Description: </b>Black, White, Cream</p>
            <p><b>Price: </b> 299.000 VNĐ</p>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No8.jpg">
          <img src="media/No8.jpg" alt="Shoe 8" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Open toe</p>
            <p><b>Description: </b>Black, White, Cream</p>
            <p><b>Price: </b> 299.000 VNĐ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>


  <!-- Row 5 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No9.jpg">
          <img class="img-responsive" src="media/No9.jpg" alt="Shoe 9" style="width:100%">
          <div class="caption">
            <p><b>Name: </b>Slippers</p>
            <p><b>Description: </b>White, Black, Leather</p>
            <p><b>Price: </b> 199.000 VNĐ</p>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No10.jpg">
          <img src="media/No10.jpg" alt="Shoe 10" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Slippers</p>
            <p><b>Description: </b> Black, Cream, White</p>
            <p><b>Price: </b> 99.000 VNĐ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>


  <!-- Row 6 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No11.jpg">
          <img class="img-responsive" src="media/No11.jpg" alt="Shoe 11" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Sandals</p>
            <p><b>Description: </b>Cream, Black</p>
            <p><b>Price: </b> 599.000 VNĐ</p>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No12.jpg">
          <img src="media/No12.jpg" alt="Shoe 12" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Sandals</p>
            <p><b>Description: </b>Cream, Black</p>
            <p><b>Price: </b> 599.000 VNĐ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>


  <!-- Row 7 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No13.jpg">
          <img class="img-responsive" src="media/No13.jpg" alt="Shoe 13" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Sandals</p>
            <p><b>Description: </b>White, Black</p>
            <p><b>Price: </b> 399.000 VNĐ</p>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No14.jpg">
          <img src="media/No14.jpg" alt="Shoe 14" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Boots</p>
            <p><b>Description: </b> Cream, Black</p>
            <p><b>Price: </b> 499.000 VNĐ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>



  <!-- Row 8 -->
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No15.jpg">
          <img class="img-responsive" src="media/No15.jpg" alt="Shoe 15" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Boots</p>
            <p><b>Description: </b> Black</p>
            <p><b>Price: </b> 499.000 VNĐ</p>
          </div>
        </a>

      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="media/No16.jpg">
          <img src="media/No16.jpg" alt="Shoe 16" style="width:100%">
          <div class="caption">
            <p><b>Name: </b> Boots</p>
            <p><b>Description: </b> White</p>
            <p><b>Price: </b> 499.000 VNĐ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</body>

</html>
